<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4Y54F446XT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4Y54F446XT');
</script>
{% extends 'index.html' %}

{% block title %} YouTube - Free video downloader - Your videos... {% endblock %}

{% block content %}


{% if videos %}
<div>
  <div id="convert-result" role="alert" class="row col-lg-8 col-md-10 col-12
    mx-auto mt-5 shadow-lg bg-gradient text-white">
    <div class="container my-2">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4 order-12 order-lg-1 mt-3 mx-auto
          result-col-thumb"><img class="rounded" src="{{img_url}}" width="255"
            height="255">
          <h6 class="my-2">{{test_title}}</h6>
        </div>
        <div class="col-12 col-lg-6 order-2">

          <div class="row m-0 col-12 col-lg-8">
            <div class="d-lg-block p-0">
              <form  method="post" id="form-video">
                {% csrf_token %}
                <select id="Download" name="download">
                  {% for i in options %}
                  <option value="{{i.resolution}}">{{i.mime_type}} -
                    {{i.resolution}}</option>
                  <hr>
                  {% endfor %}
                  {% comment %} {% for i in options %}
                  <option value="{{i.abr}}">{{i.mime_type}} - {{i.abr}}</option>
                  <hr>
                  {% endfor %} {% endcomment %}
                  
                </select>
                <!--<input type="submit" value="Download" class="btn btn-primary
                  d-inline-block float-end">-->
                  <button type="submit" class="btn btn-primary d-inline-block float-end">Download</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<h1><p>{{ mesage }}</p></h1>
<h1><p>{{ errorType }}</p></h1>
{% endif %}
{% endblock %}
