{% extends "index.html" %}
{% load static %}



{% block content %} 

<section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>{{object.title | safe}}</span>
                  </div>
                  <div class="date">
                    <h6>Mart <span>12</span></h6>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/single-meeting.jpg" alt=""></a>
                </div>
                <div class="down-content">
                  <a href="#"><h4>{{object.summary | safe}}</h4></a>
                    {{object.body| safe}}

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url 'index' %}">Qaytish!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}
