{% extends "index.html" %}
{% load static %}

  <!-- ***** Header Area End ***** -->
  {% block content %} 
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Barcha tafsilotlarni oling</h6>
          <h2>Onlayn o'qitish va o'qitish vositalari</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>{{category.title}}</span>
                  </div>
                  <div class="date">
                    <h6>Mart <span>12</span></h6>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/single-meeting.jpg" alt=""></a>
                </div>
                <div class="down-content">
                  <a href="#"><h4>{{category.summary}}</h4></a>
                  <p class="description">
                    {{category.body}}
                  </p>

                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url 'index' %}">Qaytish!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}