{% extends "index.html" %}
{% load static %}



{% block content %} 

<section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Testni tanlash</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Kategoriyalar</h4>
            {% for i in category %}
            <ul>
              <li><a href="">{{i.title}}</a></li>
            </ul>
            {% endfor %}
            <div class="main-button-red">
              <a href="{% url 'contact' %}">Hozir Bizga Qo'shiling!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            {% for i in category %}
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>{{i.name}}</span>
                  </div>
                  <a href="{% url 'test_detail' i.id %}"><img src="{{ i.image.url }}" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Mart <span>10</span></h6>
                  </div>
                  <a href="{% url 'test_detail' i.id %}"><h4></h4></a>
                  <p>{{i.body}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
